<div class="product-card">
  <div class="product-card__content row">

    <div class="col-3 image-wrap">
      <div class="product-card__image">
        <app-modal-image
          [srcImage]="srcImage"
          [altImage]="altImage"
          [srcModalImage]="srcImage"
          [title]="title"
        ></app-modal-image>
      </div>
    </div>

    <div class="col-8 text-wrap">
      <div class="product-card__title">{{title}}</div>
      <div class="text-content-wrap">
        <div class="product-card__desc">{{description}}
          <div>
            <p><span>время изговтовления: </span><span>{{productionTime}} дн.</span></p>
            <p><span>минимальный вес: </span><span>{{price.weightMin}}</span></p>
            <p><span>весовой шаг: </span><span>{{price.weightStep}}</span></p>
          </div>

        </div>
        <div class="price-wrap row">
          <div class="product-card__price col">
            <div class="price-item">
              <div class="price-title">Стоимость за 1 кг:</div>
              <div class="price-val">
                {{price.cost}}<i class="fa fa-rub ml-2 rub-label" aria-hidden="true"></i>
              </div>
            </div>
            <div class="button-wrap ml-5">
              <button mat-flat-button color="warn" class="purchase-btn">
                КУПИТЬ
              </button>
            </div>
          </div>


        </div>
      </div>

    </div>


  </div>

</div>
