@import '../../../../styles';

::ng-deep .cdk-global-overlay-wrapper {
  background-color: rgba(0, 0, 0, .5);

  .cdk-overlay-pane {

    .mat-dialog-container {
      background-color: $bg-main;
      border: 1px solid $color-logo;
      box-shadow: 2px 2px 2px 1px $color-logo;
      padding: 20px 20px 40px 20px;
      overflow: hidden;

      .mat-dialog-content {
        padding: 0;
      }

      .modal-content {
        background-color: $bg-main;
        border: none;
      }


      .close-btn {
        background-color: transparent;
        border: none;
        color: $color-logo;
        transform: rotate(45deg);
        outline: none;
        top: -20px;
        right: -20px;

        &:focus {
          border: none;
          outline: none;
        }
      }


    }
  }
}

.image-wrap {
  width: max-content;
  height: inherit;
  overflow: hidden;
  margin: 0 auto;

  .image-title {
    color: $color-logo;
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .image {
    width: auto;
    max-height: inherit;
    border: 2px solid $color-logo-passive;
  }
}
