@import '../../../../styles';

::ng-deep .cdk-global-overlay-wrapper {
  background-color: rgba(0, 0, 0, .5);

  .cdk-overlay-pane {

    .mat-dialog-container {
      background-color: $bg-main;
      border: 1px solid $color-logo;
      box-shadow: 2px 2px 2px 1px $color-logo;
      overflow: hidden;


      .close-btn {
        background-color: transparent;
        border: none;
        color: $color-logo;
        transform: rotate(45deg);
        outline: none;
        top: -26px;
        right: -26px;

        &:focus {
          border: none;
          outline: none;
        }
      }


    }
  }
}

.image-wrap {
  max-width: inherit;
  max-height: inherit;
  height: auto;

  .image-title {
    color: $color-logo;
  }

  & img {
    //object-fit: cover;
  }
}
