<header class="container-fluid">
  <div class="header_container d-flex justify-content-between justify-content-md-around">
    <div class="logo">
      RealMeat
    </div>
    <div class="contacts d-flex">
      <div class="contact" *ngFor="let contact of contacts">
        <app-simple-contact
          [contactTitle]="contact.contactTitle"
          [contactText]="contact.contactText"
          [contactIconType]="contact.contactIconType"
          [contactLink]="contact.contactLink"
        ></app-simple-contact>
      </div>
    </div>
  </div>
  <app-search></app-search>

</header>
<div class="container-fluid">
  <app-nav-bar></app-nav-bar>
</div>

