header {
  height: 5rem;
  width: 100%;
  background-color: rgba(107, 107, 107, .6);
  color: #f1c321
}

.header_container {
  height: 100%;
  align-items: center;
}

.contacts {
  display: flex;
}

.contact:last-child {
  margin-left: 3rem;
}
