@import '../../../../styles';

.nav-bar {
  background-color: $bg-main-lighter;
  width: 100%;

  &__wrap {
    display: flex;
    justify-content: center;
    height: 3rem;
    border-bottom: 1px solid $color-logo;

    &__item {
      display: flex;
      align-items: center;
      height: 100%;
      width: max-content;
      padding: 0 2rem;
      border-bottom: 2px solid transparent;
      font-size: 1rem;
      @media (max-width: 575.98px) {
        padding: 0 1rem;
        font-size: .9rem;
      }
      @media (max-width: 379.98px) {
        padding: 0 .5rem;
        font-size: .7rem;
      }

      &.active {
        border-bottom: 2px solid $color-logo;
      }

      .item__link {
        text-decoration: none;
        color: $color-logo-passive;
        &:hover {
          color: $color-logo;
        }

        &.active {
          color: $color-logo;
        }
      }
    }
  }
}




