@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../../../../styles';

$shadow-size: 3vw;
$shadow-color: #282828;


.sizer {
  height: 15rem;
  width: 15rem;
}

.sizer-wrap {


}

.image-wrap {
  position: relative;

  .vignette {
    position: absolute;
    z-index: 0;
    -webkit-box-shadow: inset 0 0 $shadow-size $shadow-color,
    inset 0 0 $shadow-size $shadow-color,
    inset 0 0 $shadow-size $shadow-color;

    -moz-box-shadow: inset 0 0 $shadow-size $shadow-color,
    inset 0 0 $shadow-size $shadow-color,
    inset 0 0 $shadow-size $shadow-color;

    box-shadow: inset 0 0 $shadow-size $shadow-color,
    inset 0 0 $shadow-size $shadow-color,
    inset 0 0 $shadow-size $shadow-color;
    border: 1px solid $color-logo-passive;
    &:hover {
      border: 1px solid $color-logo;
      cursor: pointer;
    }
  }

  img {
    position: absolute;
    z-index: -1;
  }
}



