@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../../../../styles';

$shadow-size: 3vw;
$shadow-color: #282828;

.image-wrap {
  border: 2px solid $color-logo-passive;
  box-shadow: black 2px 2px 10px;
  border-radius: 4px;
  &:hover {
    border: 2px solid $color-logo;
  }
}
.sizer {
 max-width: 15rem;
}

.sizer-wrap {
}



